@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins" sans-serif;
  background-color: #03092f;
}
.container {
  width: 92%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(./images/b2.jpg);
  padding-top: 50px;
  background-position: 50% 5%;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0 auto;
  color: #fff;
  max-width: 800px;
  text-align: center;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d14, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d14, #833ab4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content p {
  color: #fff;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.icon-box {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}
.icon-box img {
  width: 60px;
  margin: 10px;
  background: linear-gradient(to right, #141e30, #243b55);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-area {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}
.btn-area button {
  background: linear-gradient(to right, #141e30, #243b55);
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}
.btn-area .btn-2 {
  margin-left: 10px;
}
